* {
    font-family: 'Fira Code';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    position: relative;
}

main {
    margin-bottom: 250px;
}

/*NAVBAR*/

#logo {
    position: absolute;
    top: 10px;
    left: 9.5%;
}

#logo img {
    width: 50px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #611eb9;
    padding: 20px;
    text-transform: uppercase;
    list-style: none;
}

#navbar li {
    margin: 0 10px;
    padding: 5px;
}

#navbar .nav-link {
    color: #fff;
    text-decoration: none;
    transition: .5s;
    font-size: 14px;
}

#navbar .nav-link:hover {
    color: #10c52e;
}

/*  FOOTER    */

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #000;
    color: #FFf;
    padding: 50px 0;
}